includes:
    - vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 4
    paths:
        - ./modules
        - ./config
        - ./bootstrap.php
        - ./web/index.php
        - ./bootstrap.php
